#groupname{
    text-align: center;
    text-decoration: overline;
    color: red;
}

#divgroupname
{
    border: 1px solid black;
    padding: 50px 50px 50px 50px;
    border-style: dashed;
    border-radius: 5cm;
    border-color: blue;
    border-width: 5px;
    background-color: lightblue;
}

#link
{
    display: flex; 
    align-items: center;
}


#logo
{
    height: 100px;
    width: 100vw;
    max-width: 50px;
    max-height: 50px;
    position: relative;
    left: 1400px;
    bottom: auto;
}

.content
{
    border: 1px solid black;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.content > h1
{
    text-align: center;
}

#topic li {
    margin: 0.5in; /* Adjust this value to create the desired space */
}

.attedence li
{
    margin-top: 0.5in;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 1.5em;
}

#attedence1
{
    border: 1px solid black;
    padding: 50px 50px 50px 50px;
}

#attedence1 > h2
{
    text-align: center;
}

h1,h2
{
    color: hsla(100, 41%, 10%, 0.717);
}

.unbuss
{
    border: 1px solid black;
    padding: 50px 50px 50px 50px;
}

.unbuss > h2
{
    text-align: center;
}

#buss1 ~ #buss2,
#buss1 ~ #buss3,
#buss1 {
    color: #521; /* Change the color to your desired color */
    margin: 0.5in;
}

#ideas
{
    border: 1px solid black;
    padding: 50px 50px 50px 50px; 
}

#ideas > h2
{
    text-align: center;
}

#id1 + #id2,
#id2 + #id3,
#id1
{
    display: block;
    color: color-mix(in lch, plum 40%, pink);
    margin: 0.3in;
}

#comments
{
    border: 1px solid black;
    padding: 50px 50px 50px 50px; 
}

#comments > h2
{
    text-align: center;
}

#item > li
{
    display: grid;
    color: color(from green srgb r g b / 0.5);
    margin: 0.3in;
}

#graph
{
    height: 500vh;
    width: 500px;
    max-width: 500px;
    max-height: 500px;
    position: static;
    left: 200px;
}

p {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}


*
{
    box-sizing: border-box;
}

button
{
    color: rebeccapurple;
}

button:hover {
    color: red;
}

a:active{
    color: rgb(255, 115, 0);
    background: yellow;
}

input[type="text"] {
    border: 2px solid #ccccccca;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}
