#groupname{
    text-align: center;
    text-decoration: overline;
    color: red;
}

#divgroupname
{
    border: 1px solid black;
    padding: 50px 50px 50px 50px;
    border-style: dashed;
    border-radius: 5cm;
    border-color: blue;
    border-width: 5px;
    background-color: lightblue;
}

#link
{
    display: flex; 
    align-items: center;
}


#logo
{
    height: 100px;
    width: 100px;
    max-width: 50px;
    max-height: 50px;
    position: relative;
    left: 1400px;
    bottom: auto;
}

.content
{
    border: 1px solid black;
    padding: 50px 50px 50px 50px;
}

.content > h1
{
    text-align: center;
}

#topic li {
    margin: 0.5in; /* Adjust this value to create the desired space */
}

.attedence li
{
    margin: 0.5in;
    font-size: 1.5em;
}

#attedence1
{
    border: 1px solid black;
    padding: 50px 50px 50px 50px;
}

#attedence1 > h2
{
    text-align: center;
}

h1,h2
{
    color: red;
}

.unbuss
{
    border: 1px solid black;
    padding: 50px 50px 50px 50px;
}

.unbuss > h2
{
    text-align: center;
}

#buss1 ~ #buss2,
#buss1 ~ #buss3,
#buss1 {
    color: red; /* Change the color to your desired color */
    margin: 0.5in;
}

#ideas
{
    border: 1px solid black;
    padding: 50px 50px 50px 50px; 
}

#ideas > h2
{
    text-align: center;
}

#id1 + #id2,
#id2 + #id3,
#id1
{
    display: block;
    color: red;
    margin: 0.3in;
}



button
{
    color: rebeccapurple;
}

button:hover {
    color: red;
}

a:active{
    color: rgb(255, 115, 0);
    background: yellow;
}

input[type="text"] {
    border: 2px solid #ccccccca;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}
